:root{
    --white:hsl(0,0%,100%);
    --bold:hsl(225,58%,10%, 1);
    --medium:hsl(219,12%,35%);
    --color-button:hsl(0,90%,59%);
    --color-signup:hsl(351,90%,59%);
    --color-line: hsl(225, 13%, 94%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}