/* .main-text-btn{
    width: 250px;
    height: 60px;
    background-color: var(--color-button); 
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--fs-xsm);
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px rgba(255, 75, 75. 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
}  */

.main-text-btn {
    width: 250px;
    height: 60px;
    background-color: var(--color-button);
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--fs-xsm);
    cursor: pointer;
    box-shadow: 5px 10px 20px -5px rgba(245, 56, 56, 0.35);
}

.features-btn{
    width: 178px;
    height: 45px;
    border: 2px solid var(--color-button);
    background-color: var(--color-white);
    border-radius: 50px;
    color: var(--color-button);
    font-weight: 700;
    font-size: var(--fs-xsm);
    cursor: pointer;
    margin-left: 76px;
    margin-right: 76px;
}

.standard{
    margin-top: 160px;
}

.premiun{
    margin-top: 130px;
    background-color: var(--color-button);
    border: none;
    color: var(--color-white);
}

