.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

    & li a {
        text-decoration: none;
        color: var(--color-medium);
        font-size: var(--fs-xsm);
    }
}

.logo{
    display: flex;
    align-items: center;
}

.login{
    display: flex;
    align-items: center;
    gap: 13px;
    list-style-type: none;

    & li a{
        text-decoration: none;
        color: var(--color-bold);
        font-weight: 500;
        font-size: var(--fs-xsm);
    }
}

.red {
    color: var(--color-signup);
}

.signup {
    width: 150px;
    height: 50px;
    border: 1px solid var(--color-signup);
    border-radius: 50px;
    text-align: center;
    padding: 13px 13px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.signup:hover{
    background-color: var(--color-signup);
}

main {
    display: flex;
    justify-content: space-between;
}

.main-text h2{
    margin-top: 100px;
    font-size: var(--fs-xxl);
    font-weight: 500;
    display: block;
    line-height: 70px;
    margin-bottom: 20px;
    color: var(--color-bold);
}

.main-text span{
    font-weight: 700;
}

.main-text p{
    color: var(--color-medium);
    font-size: var(--fs-xsm);
    line-height: 30px;
    margin-bottom: 50px;
}

.main-img{
    margin-top: 70px;
    margin-left: 50px;
}
.main-info{
    width: 1140px;
    height: 200px;
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
    padding-left: 89px;
    padding-right: 89px;
    padding-bottom: 37px;
    padding-top: 37px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px -5px rgba(12, 12. 12. 0.35);
    margin-bottom: 95px;
}

.vertical-line{
    width: 1px;
    height: 125px;
    background-color: var(--color-line);
}

.info{
    display: flex;
    align-items: center;
    gap: 37px;
}

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-img img{
    width: 100%;
    height: auto;
}

.features-text h2{
     font-size: var(--fs-xl);
     color: var(--color-bold);
     font-weight: 500;
     margin-bottom: 20px;
}

.features-text p{
    color: var(--color-medium);
    font-size: var(--fs-xsm);
    line-height: 30px;
    margin-bottom: 20px;
}

.features-list li{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 15px;
}

.features-list p{
    margin: 0;
    color: var(--color-medium);
    font-size: var(--fs-xxsm);
    line-height: 30px;
}

.features-list{
    margin: 0;
    padding: 0;
}


