.pricing{
    background-color: var(--color-line);
}

.pricing-info{
    padding-top: 80px;
    text-align: center;
}

.pricing-info h2{
    font-size: var(--fs-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--color-bold);
}

.pricing-info p{
    font-size: var(--fs-xsm);
    color: var(--color-medium);
    margin-top: 20px;
}

.plans{
    display: flex;
    justify-content: center;
    gap: 44px;
}

.plan-container{
    width: 330px;
    height: 760px;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 2px #DDDDDD solid;
    margin-top: 55px;
    margin-bottom: 50px;
}

.plan-container .main-img{
    margin: 0 auto;
    padding-top: 86px;
}

.plan-container h3{
    text-align: center;
    margin-top: 30px;
    font-size: var(--fx-sm);
    font-weight: 500;
    color: var(--color-bold);
    line-height: 30px;
}

.plan-container li{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 25px;
    margin-right: 57px;
}

.plan-container h2 {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 20px;
    font-size: var(--fs-lg);
    font-weight: 500;
    color: var(--color-bold);
    line-height: 30px;
}

